body {
    height: calc(100vh - 32px);
    padding: 16px;
    margin: 0;
}

section {
    margin: 0;
    padding: 0;
}

/*noinspection ALL*/
@font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins-Regular.ttf");
}

button, h2, h3, p, main, input {
    font-family: "Poppins", sans-serif;
}

h1, h2, h3 {
    margin: 0;
}

.text-button {
    border: none;
    background-color: transparent;
    transition: all 0.2s ease-in-out;
}

button:hover {
    cursor: pointer;
}

input {
    border: 2px solid #dcdcdc;
    border-radius: 8px;
    padding: 12px 4px;
}

.primary-button {
    border: none;
    background-color: aquamarine;
    border-radius: 100px;
    padding: 8px 16px;
}

.icon-button {
    border: none;
    background-color: transparent;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}