body {
    height: calc(100vh - 32px);
    padding: 16px;
    margin: 0;
}

section {
    margin: 0;
    padding: 0;
}

/*noinspection ALL*/
@font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins-Regular.ttf");
}

button, h2 {
    font-family: "Poppins", sans-serif;
}